
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    box-shadow: 0 1px 3px -2px rgba(206, 198, 198, 0.2);
    max-width:1200px;
    margin:0 auto;
    width:100%;
    align-items:center;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo p {
    color: white;
    font-size: 38px;
    font-weight: 600;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
    color: #f0f0f0;
    font-size: 20px;
    font-weight: 500;
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.nav-menu hr {
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: red;
}

.nav-login-cart {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-login-cart button {
    width: 157px;
    height: 58px;
    outline: none;
    border: none;
    border-radius: 75px;
    font-size: 20px;
    font-weight: 500;
    background:#333;
    color:white;
    cursor: pointer;
}

.nav-login-cart button:active {
    background: white;
}

.nav-cart-count {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
}
.nav-login-cart img {
    width: 40px; 
    height: 40px; 
    object-fit: cover;
    cursor: pointer;
}
